{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="card-header login-card-header">
    <h3>{% trans "Change Password" %}</h3>
</div>

<div class="card-body">
  <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-group">
        <input type="submit" value="{% trans "Change Password" %}v" class="btn float-right login_btn">
      </div>
      <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </form>
</div>
{% endblock %}
